
.modal-content {
    position: relative
}

.border-10-light-red {
    border-color: #855bf2 !important;
}

.banner-button {
    position: absolute;
    bottom: 15px;
    right: 25px;
    background: #fdfc00;
    padding: 5px 25px;
    border-radius: 20px;
    color: black;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .modal {
        top: 50%;
        transform: translateY(-50%);
    }

    .banner-button {
        padding: 2px 9px;
        bottom: 2px;
        right: 2px;
        font-size: 10px;
    }
}